.about {
    @media screen and (max-width: 600px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    padding-left: 60px;
    padding-right: 60px;
    flex: 1;
    a {
        color: #81a1c1;
        //remove decoration
        text-decoration: underline;
    }

    s {
        color: #e5e9f0;
    }

    p {
        max-width: 700px;
    }
}