@use './shared/common.scss' as common;


.App {
    flex: 1;

    .toofake {
        font-weight: bold;
        font-size: 44px;
        padding-left: 60px;
        padding-top: 20px;
        margin-bottom: 20px;
        .faketoo {

        }
    }
    .git {
        position: relative;
        display: flex;
        padding-left: 60px;
        bottom: -20px;
        a, a:visited, a:active {
            margin-right: 12px;
            img {height: 25px; width: inherit; margin-right: 6px;}
            color: white;
            text-decoration: underline;
            @include common.center()
        }
    }

}