@use './shared/common.scss' as common;


.App {
    flex: 1;

    .toofake {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 44px;
        padding-left: 60px; padding-right: 60px;
        padding-top: 20px;
        margin-bottom: 20px;
        .space {
            margin-left: 12px;
            margin-right: 12px;
        }
        .befake {
            @include common.center();
            cursor: pointer;
            font-size: 18px;
            color: black;
            width: 120px;
            height: 40px;
            border-radius: 12px;
            background-color: white;
        }
    }
    .git {
        position: absolute;
        display: flex;
        padding-left: 60px;
        bottom: 20px;
        a, a:visited, a:active {
            margin-right: 12px;
            img {height: 25px; width: inherit; margin-right: 6px;}
            color: white;
            text-decoration: underline;
            @include common.center()
        }
    }

}