@use "../../styles/common.scss" as c;

.images {
    display: flex;
    flex-wrap: wrap;
    .img {
        position: relative;
        width: 300px;
        min-width: 300px;
        height: 400px;
        border: 2px solid white;
        margin-right: 18px;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 14px;
        input[type=file] {
            display: none;
        }
        .upload {
            position: absolute;
            border: 2px solid #fff;
            display: inline-block;
            cursor: pointer;
            border-radius: 12px;
            padding-left: 14px; padding-right: 14px;
            height: 40px;
            @include c.center();
            background-color: rgb(0, 0, 0, 0.5);
        }
        .sub {
            height: 100%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
            .data {
                position: absolute;
                top: 0px;
            }
        }
    }
}
.caption {
    padding-left: 14px; padding-right: 14px;
    width: 100%;
    min-width: 300px;
    max-width: 620px;
    height: 40px;
    border-radius: 12px;
    background-color: white;
    color: black;

    @media screen and (max-width: 675px) {
        margin-left: 0px !important;
        width: 300px !important;
    }
}
.submit {
    margin-top: 14px;
    cursor: pointer;
    @include c.center();
    border: 2px solid white;
    min-width: 144px;
    width: 144px;
    height: 40px;
    border-radius: 12px;
    padding-left: 14px; padding-right: 14px;
}
.info {
    max-width: 600px;
    margin-top: 12px;
    color: white;
    font-size: 12px;
}
.failure {
    color: rgb(165, 0, 0);
    font-size: 14px;
    margin-top: 12px;       
}
.success {
    color: cyan;
    font-size: 14px;
    margin-top: 12px;       
}
.loading {
    margin-top: 12px;
    color: green;
    font-size: 14px;
}