@use './shared/common.scss' as common;


.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .toofake {
        a {
            text-decoration: none;
            color: white;
        }
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 44px;
        padding-left: 60px; padding-right: 60px;
        padding-top: 20px;
        /* margin-bottom: 20px; */
        @media screen and (max-width: 550px) {
            padding-left: 30px;
            padding-right: 30px;
            flex-direction: column;
            align-items: start;
            .functionality {flex-direction: column; align-items: start !important;}
            .functionality-inner {margin-top: 12px; margin-bottom: 12px}
            .space {display: none;}
            .logout {text-align: start;}
        }
        .functionality {
            display: flex;
            @include common.center();
            .functionality-inner {
                display: flex;
                @include common.center();
            }
            .space {
                margin-left: 12px;
                margin-right: 12px;
            }
            .logout {
                @include common.center();
                cursor: pointer;
                font-size: 18px;
                width: 120px;
                height: 40px;
                border-radius: 12px;
                text-decoration: none;
                background-color: transparent !important;
                color: white !important;
                border: 2px solid white !important;
                /* cursor: pointer;
                font-size: 18px;
                text-decoration: underline; */
            }
        }
        .befake {
            @include common.center();
            cursor: pointer;
            font-size: 18px;
            color: black;
            width: 120px;
            height: 40px;
            border-radius: 12px;
            background-color: white;
            text-decoration: none;
        }
    }
    .issues {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        .divide {
            margin-bottom: 16px;
            width: 45%;
            height: 1px;
            background-color: white;
        }
        @media  screen and (max-width: 600px) {
            position: relative;
            bottom: 0;
            margin-bottom: 20px;
            padding-left: 30px !important;
            padding-right: 30px !important;

        }
        /* position: absolute; */
        display: flex;
        padding-left: 60px;
        padding-right: 60px;
        height: 100px;
    }
    .divider {
        background-color: white;
        height: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 60px;
        margin-right: 60px;
        @media screen and (max-width: 600px) {
            margin-left: 30px;
            margin-right: 30px;
        }
    }
    .git {
        @media  screen and (max-width: 600px) {
            position: relative;
            bottom: 0;
            margin-bottom: 20px;
            padding-left: 30px !important;
        }
        position: relative;
            bottom: 0;
            margin-bottom: 20px;
        /* position: absolute; */
        display: flex;
        padding-left: 60px;
        /* bottom: 20px; */
        .space {margin: 0 12px 0 12px;}
        a, a:visited, a:active {
            img {height: 25px; width: inherit; margin-right: 6px;}
            color: white;
            text-decoration: underline;
            @include common.center()
        }
    }

}