* {
  box-sizing: border-box;
}

input {
  outline: none;
}

html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0; padding: 0;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  background-color: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
}
