:root {

}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #fff;
  height: 100%;
  padding: 20px 60px;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px 20px;
  }  
}

main {
  flex: 1;
  display: flex;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}