@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid grey; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.loadersmall {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid grey; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

.loadertiny {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid grey; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}