.instant {
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  border: 2px solid white;
  border-radius: 12px;
}
@media (max-width: 600px) {
  .instant {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 12px;
  }
}
.instant .details {
  display: flex;
  height: 56px;
  /* border: 1px solid red; */
}
.instant .details .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  /* border: 1px solid yellow; */
}
.instant .details .icon .avatar {
  background-color: white;
  border-radius: 100%;
  height: 35px;
  width: 35px;
}
.instant .details .icon .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.instant .details .information {
  padding-left: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  /* border: 1px solid orange; */
  text-align: left;
}
.instant .details .information .location {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.795);
}
.instant .details .extra {
  width: 30px;
  /* border: 1px solid pink; */
}
.instant .details .extra .trash {
  height: 20px;
  margin-top: 16px;
  cursor: pointer;
  position: relative;
  right: -2px;
}
.instant .event {
  flex: 1;
  width: 100%;
  height: 400px;
  max-height: 400px;
}
.instant .event .front {
  position: relative;
  height: 400px;
  width: 100%;
  /* background-color: red; */
  /* border: 1px solid white; */
  border-radius: 12px;
}
.instant .event .front img {
  border-radius: 12px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.instant .event .front .back {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 150px;
  width: 112.5px;
  /* border: 1px solid rgba(255, 255, 255, 0.39); */
  border-radius: 12px;
}
.instant .event .front .back img {
  border-radius: 12px;
  height: 100%;
}
.instant .event .front .reactions {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  /* border: 1px solid aqua; */
  padding-left: 14px;
  position: absolute;
  bottom: 0px;
  left: 0;
}
.instant .event .front .reactions .reaction {
  margin-right: 8px;
  width: 40px;
  height: 35px;
  position: relative;
}
.instant .event .front .reactions .reaction img {
  position: relative;
  top: 0px;
  height: 35px;
  width: 35px;
  border-radius: 100%;
}
.instant .event .front .reactions .reaction .emoji {
  position: absolute;
  bottom: 5px;
  right: 0px;
}
.instant .caption {
  height: 30px;
  max-height: 30px;
  padding-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  font-size: 12px;
}
.instant .placeholder {
  height: 20px;
}
.instant .comment-control {
  height: 20px;
  padding-left: 12px;
  padding-right: 12px;
}
.instant .comment-control .seperator {
  background-color: white;
  width: 100%;
  margin: auto;
  height: 1px;
}
.instant .comment-control .toggle {
  font-size: 10px;
  cursor: pointer;
}
.instant .comments {
  padding-top: 4px;
  padding-left: 12px;
  justify-content: start;
  font-size: 12px;
}
.instant .comments .comment {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  min-height: 20px;
  display: flex;
}
.instant .comments .comment .username {
  margin-left: 4px;
  font-weight: bold;
}
.instant .comments .comment .text {
  margin-left: 4px;
}
.instant .comments .comment .avatar {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: white;
}
.instant .comments .comment .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.instant .add {
  margin-top: 4px;
  margin-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
}
.instant .add input, .instant .add textarea {
  min-height: 36px;
  height: 30px;
  flex: 1;
  background-color: white;
  text-decoration: none;
  border-radius: 4px;
}
.instant .add .button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
  width: 62px;
  height: 36px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
}/*# sourceMappingURL=instant.css.map */