
@use '../../shared/common.scss' as common;

.instant {
    //check if screen is small
    @media (max-width: 600px) {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 12px;
    }
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;

    font-family: Roboto;

    min-width: 300px;
    max-width: 300px;
    width: 300px;

    border: 2px solid white;
    border-radius: 12px;


    .details {
        display: flex;
        height: 56px;
        /* border: 1px solid red; */

        .icon {
            @include common.center();
            width: 50px;
            /* border: 1px solid yellow; */
            
            .avatar {
                background-color: white;
                border-radius: 100%;
                height: 35px;
                width: 35px;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }
            }
        }

        .information {
            padding-left: 8px;
            display: flex; justify-content: center; flex-direction: column;
            flex: 1;
            /* border: 1px solid orange; */
            text-align: left;

            .username {}
            .location {
                font-size: 10px;
                color: rgba(255, 255, 255, 0.795);
            }
        }

        .extra {
            width: 30px;
            /* border: 1px solid pink; */
            .trash {
                height: 20px;
                margin-top: 16px;
                cursor: pointer;
                position: relative;
                right: -2px;
            }
        }

    }

    .event {
        flex: 1;
        width: 100%;
        height: 400px;
        max-height: 400px;
        .front {
            position: relative;
            height: 400px;
            width: 100%;
            /* background-color: red; */
            /* border: 1px solid white; */
            border-radius: 12px;

            img {
                border-radius: 12px;
                height: 100%;
                width: 100%;
                //fix image fit
                object-fit: cover;
            }

            .back {
                cursor: pointer;
                position: absolute;
                top: 10px;
                left: 10px;
                height: 200px * .75;
                width: 150px * .75;
                
                /* border: 1px solid rgba(255, 255, 255, 0.39); */
                border-radius: 12px;
                img {
                    border-radius: 12px;
                    height: 100%;
                }
            }
            .reactions {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 45px;
                /* border: 1px solid aqua; */
                padding-left: 14px;
                position: absolute;
                bottom: 0px;
                left: 0;

                .reaction {
                    margin-right: 8px;
                    width: 40px;
                    height: 35px;
                    position: relative;
                    img {
                        position: relative;
                        top: 0px;
                        height: 35px;
                        width: 35px;
                        border-radius: 100%;
                    }
                    .emoji {
                        position: absolute;
                        bottom: 5px;
                        right: 0px;
                    }
                }
            }
        }
    }

    .caption {
        height: 30px;
        max-height: 30px;
        padding-left: 12px;
        @include common.center();
        justify-content: start;
        font-size: 12px;
    }

    .placeholder {height: 20px;}
    .comment-control {
        height: 20px;
        padding-left: 12px;
        padding-right: 12px;
        .seperator {
            background-color: white;
            width: 100%;
            margin: auto;
            height: 1px;
        }
        .toggle {
            font-size: 10px;
            cursor: pointer;
        }
    }

    .comments {
        padding-top: 4px;
        padding-left: 12px;
        justify-content: start;
        font-size: 12px;
        .comment {
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            min-height: 20px;
            display: flex;
            .username {
                margin-left: 4px;
                font-weight: bold;
            }
            .text {
                margin-left: 4px;
            }
            .avatar {
                height: 20px;
                width: 20px;
                border-radius: 100%;
                background-color: white;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }
            }
        }
    }

    .add {
        margin-top: 4px;
        margin-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
        display: flex;
        flex-direction: row;
        input, textarea {
            min-height: 36px;
            height: 30px;
            flex: 1;
            background-color: white;
            text-decoration: none;
            border-radius: 4px;
        }
        .button {
            @include common.center();
            cursor: pointer;
            margin-left: 8px;
            width: 62px;
            height: 36px;
            background-color: transparent;
            border: 2px solid white;
            color: white;
            font-size: 12px;
            border-radius: 4px;
            text-align: center;
        }
    }
}