@use "../../styles/common.scss" as c;

.realmoji {
    height: 300px;
    width: 240px;
    min-width: 240px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px .1px rgba(84, 84, 84, 0.75);
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    img, .nomoji {
        height: 240px;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        border: 1px solid white;
        @include c.center();
    }

    .details {
        width: 100%;
        height: 60px;
        display: flex;
        padding: 0px 20px;
        .emoji {
            width: 10%;
            font-size: 24px;
            @include c.center();
            margin-right: 12px;
            padding-bottom: 2px;
        }

        .utility {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            input[type=file] {
                display: none;
            }
            .upload {
                position: relative;
                border: 1px solid #fff;
                display: inline-block;
                cursor: pointer;
                border-radius: 8px;
                padding: 8px 12px;
                height: 30px;
                @include c.center();
                background-color: rgb(0, 0, 0, 0.5);
            }
            .send {
                height: 30px;
                width: 25px;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                @include c.center();
            }
        }
        
    }


    @media screen and (max-width: 600px) {
        margin-right: 0px;
        margin-bottom: 30px;
    }

}