.mem {
    width: 100%;
}

.memories {
    display: flex;
    overflow-x: scroll !important;


    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
}

.download {
    padding-top: 40px;
    button {
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        height: 34px;
        width: 200px;
        border-radius: 8px;
        background-color: white;
        border: none;
        margin-top: 20px;
    }

    .canvas {
        display: none;
    }

    .error {
        color: red;
    }
}


