.memory {
    border-radius: 8px;
    width: 300px;
    min-width: 300px;
    border: 1px solid white;
    box-shadow: 0 0 10px 1px #6a6565;
    margin-right: 30px;
    height: min-content;

    .details {
        padding: 12px 10px;
        .date {
            font-weight: bold;
        }
    }

    .content {
        position: relative;
        /* height: 400px; */
        width: 100%;

        .primary {
            position: relative;
            width: 100%;
            border-radius: 8px;
        }

        .bounds {
            width: 100%;
            height: 85%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            .secondary {
                border-radius: 8px;
                width: 100px;
                position: absolute;
                cursor: pointer;
                z-index: 9;
            }
        }
    }

    @media screen and (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}