.home {
    padding-left: 50px;
    flex: 1;
    @media screen and (max-width: 600px) {
        padding-left: 30px;
    }
    .instants {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: initial;
        //check if screen is small
        @media (max-width: 600px) {
            flex-direction: column !important;
            align-items: start !important;
        }
    }
    .takespace {
        min-height: 8px;
        flex: 1;
    }
}