.home {
    padding-left: 50px;
    .instants {
        overflow-x: scroll;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: initial;
    }
}