.post {
  padding-left: 60px;
  padding-right: 60px;
}
@media screen and (max-width: 750px) {
  .post {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.post .images {
  display: flex;
  flex-wrap: wrap;
}
.post .images .img {
  width: 300px;
  min-width: 300px;
  height: 400px;
  border: 2px solid white;
  margin-right: 18px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.post .images .img input[type=file] {
  display: none;
}
.post .images .img .upload {
  position: absolute;
  border: 2px solid #fff;
  display: inline-block;
  cursor: pointer;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.post .images .img .sub {
  height: 100%;
  width: 100%;
}
.post .images .img .sub img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.post .images .img .sub .data {
  position: absolute;
  top: 0px;
}
.post .functionality {
  display: flex;
  flex-direction: column;
  /* margin-top: 14px; */
}
@media screen and (max-width: 750px) {
  .post .functionality {
    flex-direction: column;
  }
  .post .functionality .submit, .post .functionality .caption {
    margin-left: 0px !important;
    margin-top: 12px;
    width: 300px !important;
  }
  .post .functionality .location-func {
    flex-direction: column;
  }
  .post .functionality .location-func .current, .post .functionality .location-func .custom {
    margin-left: 0px !important;
    margin-top: 12px;
    width: 300px !important;
  }
  .post .functionality .location-func .custom {
    height: 100px;
    flex-direction: column;
    padding: 6px;
  }
  .post .functionality .location-func .custom .coords {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .post .functionality .location-func .custom .coords input {
    margin-bottom: 6px;
    width: 90% !important;
  }
}
.post .functionality .caption {
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
  min-width: 300px;
  max-width: 620px;
  height: 40px;
  border-radius: 12px;
  background-color: white;
  color: black;
}
.post .functionality .submit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  min-width: 144px;
  width: 144px;
  height: 40px;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
}
.post .functionality .location-func {
  margin-top: 12px;
  display: flex;
  /* opacity: .8; */
}
.post .functionality .location-func .current {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  min-width: 184px;
  width: 184px;
  height: 40px;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 12px;
}
.post .functionality .location-func .custom {
  width: 425px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 12px;
}
.post .functionality .location-func .custom .coords {
  display: flex;
  margin-left: 12px;
  height: 70%;
}
.post .functionality .location-func .custom .coords input[type=text] {
  height: 100%;
  width: 120px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  margin-right: 12px;
  color: white;
}
.post .functionality .public {
  margin-top: 12px;
  min-width: 184px;
  width: 184px;
}
.post .send {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  max-width: 620px;
  min-width: 300px;
  height: 40px;
  border-radius: 12px;
  padding-left: 14px;
  padding-right: 14px;
  transition: 0.2s ease-in-out;
  margin-bottom: 30px;
}
@media screen and (max-width: 750px) {
  .post .send {
    width: 300px !important;
  }
}
.post .send:hover {
  background-color: white;
  color: black;
}
.post .validation {
  margin-top: 12px;
  color: #bf616a;
  font-size: 14px;
}
.post .posting {
  margin-top: 12px;
  color: #a3be8c;
  font-size: 14px;
}/*# sourceMappingURL=post.css.map */