@use "../../styles/common.scss" as c;

.toofake {
    font-size: 44px;
    font-weight: 700;
    display: flex;

    .navigation {
        flex: 1;
        display: flex;
        align-items: center;
        .sep {
            background-color: white;
            height: 100%;
            width: 4px;
            margin: 0 16px;
        }
        .feed {
            font-size: 28px;

        }

        .profile {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            a {
                @include c.center();
                color: white;
                text-decoration: none;
            }
            img {
                height: 40px;
                width: 40px;
                border-radius: 100%;
                object-fit: cover;
                background-color: white;
            }
            button {
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                height: 34px;
                width: 80px;
                border-radius: 8px;
                background-color: white;
                border: none;
            }
        }
    }
}