@use "../../styles/common.scss" as c;

.toofake {
    font-size: 44px;
    font-weight: 700;
    display: flex;

    .sep {
        background-color: white;
        height: 100%;
        width: 4px;
        margin: 0 16px;
    }

    .navigation {
        flex: 1;
        display: flex;
        align-items: center;
        .feed {
            font-size: 28px;

        }

        .profile {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            a {
                @include c.center();
                color: white;
                text-decoration: none;
            }
            img {
                box-shadow: 0px 0px 6px 1px #fff;
                height: 45px;
                width: 45px;
                border-radius: 100%;
                object-fit: cover;
                background-color: white;
            }
            .post {
                margin-right: 0px;
            }
            button {
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                height: 34px;
                width: 80px;
                border-radius: 8px;
                background-color: white;
                border: none;
            }
        }
    }
}