
@use '../shared/common' as common;

.instant {
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;

    font-family: Roboto;

    min-width: 300px;
    max-width: 300px;
    width: 300px;

    border: 2px solid white;
    border-radius: 12px;


    .details {
        display: flex;
        height: 56px;
        /* border: 1px solid red; */

        .icon {
            @include common.center();
            width: 50px;
            /* border: 1px solid yellow; */
            
            .avatar {
                background-color: white;
                border-radius: 100%;
                height: 35px;
                width: 35px;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }
            }
        }

        .information {
            padding-left: 8px;
            display: flex; justify-content: center; flex-direction: column;
            flex: 1;
            /* border: 1px solid orange; */
            text-align: left;

            .username {}
            .location {
                font-size: 10px;
                color: rgba(255, 255, 255, 0.795);
            }
        }

        .extra {
            width: 30px;
            /* border: 1px solid pink; */
        }

    }

    .event {
        flex: 1;
        width: 100%;
        .front {
            position: relative;
            height: 400PX;
            width: 100%;
            /* background-color: red; */
            /* border: 1px solid white; */
            border-radius: 12px;

            img {
                border-radius: 12px;
                height: 100%;
                width: 100%;
            }

            .back {
                cursor: pointer;
                position: absolute;
                top: 10px;
                left: 10px;
                height: 200px * .75;
                width: 150px * .75;
                
                /* border: 1px solid rgba(255, 255, 255, 0.39); */
                border-radius: 12px;
                img {
                    border-radius: 12px;
                    height: 100%;
                }
            }
            .reactions {
                width: 100%;
                height: 45px;
                /* border: 1px solid aqua; */
                padding-left: 14px;
                position: absolute;
                bottom: 0px;
                left: 0;

                .reaction {
                    width: 40px;
                    height: 35px;
                    position: relative;
                    img {
                        position: relative;
                        top: 0px;
                        height: 35px;
                        width: 35px;
                        border-radius: 100%;
                    }
                    .emoji {
                        position: absolute;
                        bottom: 5px;
                        right: 0px;
                    }
                }
            }
        }
    }

    .caption {
        height: 30px;
        padding-left: 12px;
        @include common.center();
        justify-content: start;
        font-size: 12px;
    }
}