.help {
    
    .brief {
        max-width: 900px;
        a {
            color: #fff;
        }
        p {
            margin: 12px 0px;
        }
        margin-bottom: 50px;
    }

    .directory {
        display: flex;
        flex-direction: column;
        a {
            font-size: 22px;
            color: #fff;
            margin-bottom: 12px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        margin-bottom: 50px;
    }

    .faq, .uses, .issues {
        margin-bottom: 50px;
        h2 {
            text-decoration: underline;
        }
        .q, .use, .issue {
            h3 {
                margin-bottom: 8px;
            }
            p {
                margin-top: 0px;
                margin-bottom: 22px;
            }
        }
    }

}